:root {
  --red-color: #ee2255;
  --white-color: #ffffff;
  --green-color: #3dbe98;
  --dark-color: #333333;
}

.header {
  padding: 27px 0 29px 0;
  background: var(--white-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.header__list {
  list-style: none;
}
.header__item {
  font-family: "Gotham-Book";
  font-size: calc(15px + 3 * ((100vw - 320px) / 1180));
  font-weight: 400;
  text-transform: uppercase;
  color: var(--red-color);
}
.header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header__menu {
    position: absolute;
    padding-top: 150px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 50;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .menu__active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .header__burger {
    display: block;
  }

  .header__burger {
    z-index: 50;
  }
}
.hero {
  background: rgb(0, 0, 0);
}
.hero__slider {
  height: 100%;
}
.hero__slider-wrapper {
  position: relative;
}
.hero__slider-wrapper img {
  width: 100%;
  opacity: 0.6;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
}
.hero__slider-text h1 {
  margin: 0;
  font-family: "Gotham-Light";
  font-size: calc(30px + 34 * ((100vw - 320px) / 1180));
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 40px;
}
.hero__slider-text span {
  margin: 0;
  font-family: "Gotham-Bold";
  font-size: calc(30px + 34 * ((100vw - 320px) / 1180));
  text-transform: uppercase;
  color: var(--white-color);
}
.hero__slider-text p {
  font-family: "Gotham-Light";
  font-size: calc(22px + 10 * ((100vw - 320px) / 1180));
  color: var(--white-color);
}

.discover {
  padding: 80px 0 80px 0;
  background-color: rgb(244, 245, 207);
  position: relative;
}
.discover__container {
  position: relative;
  z-index: 2;
}
.discover__title {
  font-family: "Gotham-Light";
  font-size: calc(30px + 10 * ((100vw - 320px) / 1180));
  text-transform: uppercase;
  color: var(--green-color);
}
.discover__title span {
  font-family: "Gotham-Bold";
  font-size: calc(30px + 10 * ((100vw - 320px) / 1180));
  color: var(--green-color);
}
.discover__sub-title {
  font-family: "Gotham-light";
  font-size: calc(11px + 3 * ((100vw - 320px) / 1180));
  color: var(--dark-color);
}
.discover__card {
  margin-top: 50px;
}
.discover__card .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.discover__card .slick-dots li {
  margin: 0 10px;
  list-style: none;
}
.discover__card .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.discover__card .slick-dots li.slick-active button {
  background-color: var(--red-color);
  border: 1px solid white;
}
.discover__card-wrapper {
  margin-right: 20px;
}
.discover__card-wrapper img {
  width: 100%;
}
.discover__card-text {
  padding: 20px 22px;
  background: white;
}
.discover__card-text h3 {
  margin: 0;
  font-family: "Gotham-Book";
  font-size: calc(20px + 4 * ((100vw - 320px) / 1180));
  text-transform: uppercase;
  color: var(--green-color);
  margin-bottom: 19px;
}
.discover__card-text p {
  font-family: "Gotham-Light";
  font-size: calc(17px + 0 * ((100vw - 320px) / 1180));
  color: var(--dark-color);
}
.discover__card-link {
  padding: 20px 22px;
  background-color: #3dbe98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discover__card-link h4 {
  color: #ffffff;
  font-family: "Gotham-Book";
  font-size: 20px;
  text-transform: uppercase;
}
.discover__card-link h4::before {
  content: "from";
  margin-right: 5px;
  font-family: "Gotham-light";
  font-size: 14px;
}
.discover__card-link img {
  width: 20px;
  height: 20px;
}
.discover__sentence {
  font-family: "Gotham-light";
  font-size: calc(15px + 5 * ((100vw - 320px) / 1180));
  color: var(--dark-color);
  margin-top: 60px;
}

.experience {
  padding: 80px 0;
  background: url(../img/experience/experience.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.experience::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 315px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 1;
}
.experience__header {
  z-index: 4;
}
.experience__header h2 {
  margin: 0;
  font-family: "Gotham-Light";
  font-size: calc(30px + 10 * ((100vw - 320px) / 1180));
  text-transform: uppercase;
  color: var(--red-color);
  margin-bottom: 20px;
}
.experience__header h2 span {
  font-family: "Gotham-Bold";
  font-size: calc(30px + 10 * ((100vw - 320px) / 1180));
  color: var(--red-color);
}
.experience__header p {
  margin: 0;
  font-family: "Gotham-light";
  font-size: calc(13px + 1 * ((100vw - 320px) / 1180));
  color: var(--white-color);
}
.experience__descr {
  z-index: 4;
  margin-top: 250px;
}
.experience__descr h4 {
  font-family: "GothamNarrSSm-BookItalic";
  font-size: calc(15px + 5 * ((100vw - 320px) / 1180));
  font-weight: 400;
  line-height: 30px;
  color: var(--white-color);
  margin-bottom: 40px;
}
.experience__descr button {
  font-family: "Gotham-Book";
  font-size: calc(15px + 5 * ((100vw - 320px) / 1180));
  font-weight: 400;
  line-height: normal;
  color: var(--white-color);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ee2255;
  padding: 22px 74px;
}

.wherefore {
  padding: 80px 0;
}
.wherefore__title {
  margin: 0;
  font-family: "Gotham-Light";
  font-size: calc(30px + 10 * ((100vw - 320px) / 1180));
  text-transform: uppercase;
  color: var(--red-color);
  margin-bottom: 20px;
}
.wherefore__title span {
  font-family: "Gotham-Bold";
  font-size: calc(30px + 10 * ((100vw - 320px) / 1180));
  color: var(--red-color);
}
.wherefore__row {
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 792px) {
  .wherefore__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}
.wherefore__row-item {
  font-family: "Gotham-Book";
  font-size: calc(15px + 3 * ((100vw - 320px) / 1180));
  font-weight: 400;
  letter-spacing: normal;
  line-height: 30px;
  color: var(--dark-color);
}